<div class="extra-padding-top">
    <div class="row justify-content-center">
        <div class="col-8">
            <div *ngIf="article">
                <h2 id="page-heading">
                    <span>{{article.title}}</span>
                    <button
                        class="btn btn-danger float-right btn-sm"
                        [routerLink]="['/article', { outlets: { popup: article.id + '/delete'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        *jhiHasAnyAuthority="'ROLE_MEMBER'">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline"
                              jhiTranslate="gymApp.article.home.deleteLabel">Delete
                        </span>
                    </button>
                    <button type="button"
                            [routerLink]="['/article', article.id, 'edit']"
                            class="btn btn-light float-right btn-sm"
                            *jhiHasAnyAuthority="'ROLE_MEMBER'">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline"
                            jhiTranslate="entity.action.edit"> Edit</span>
                    </button>
                    <button id="jh-create-entity"
                            class="btn btn-primary float-right btn-sm"
                            [routerLink]="['/article/new']"
                            *jhiHasAnyAuthority="'ROLE_MEMBER'">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span
                            jhiTranslate="gymApp.article.home.createLabel">Create
                        </span>
                    </button>
                </h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>

                <div class="ql-container ql-snow" style="border-width: 0;">
                    <div class="ql-editor" [innerHTML]="article.content">
                    </div>
                </div>

                <button type="submit"
                        [routerLink]="['/']"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>

            </div>
        </div>
    </div>
</div>
