<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="article">
            <h2><span jhiTranslate="gymApp.article.detail.title">Article</span> {{article.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gymApp.article.title">Title</span></dt>
                <dd>
                    <span>{{article.title}}</span>
                </dd>
                <dt><span jhiTranslate="gymApp.article.type">Type</span></dt>
                <dd>
                    <span>{{article.type}}</span>
                </dd>
                <dt><span jhiTranslate="gymApp.article.text">Text</span></dt>
                <dd>
                    <span>{{article.text}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article', article.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
