<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Körtagok</h1>
        <div class="flex-container">
            <div class="flex-item">
                <div class="card">
                    <img src="../../../content/images/kondi-member1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Körvezető</h5>
                        <p class="card-text">Valami egyedi szöveg ha kell</p>
                    </div>
                </div>
            </div>
            <div class="flex-item">
                <div class="card">
                    <img src="../../../content/images/kondi-member1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tréner</h5>
                    </div>
                </div>
            </div>
            <div class="flex-item">
                <div class="card">
                    <img src="../../../content/images/kondi-member1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Vezető helyettes</h5>
                    </div>
                </div>
            </div>
            <div class="flex-item">
                <div class="card">
                    <img src="../../../content/images/kondi-member1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
